html {
	background-color: black;
	color:ghostwhite;
}
body {
	text-align:center;
}
a {
	text-decoration: none;
	color: hotpink;
}
h2 {
	font-family: 'Indie Flower', Verdana;
	padding: 1em;
	margin:0.5em;
}
p {
	padding:1em;
	margin:0.5em;
	font-family: Verdana;
	font-size: 0.9em;
	text-align:justify;
}
select {
	background-color:rgb(40, 69, 99);
}
.button {
	font-size:1em;
	margin:1em;
	width: 10em;
	font-family: Verdana;
	padding:1em;
	background-color: #284563;
	border-radius:1em;
	color:ghostwhite;
	background-image: linear-gradient(320deg, rgba(40, 69, 99, 1) 0%, rgb(71, 120, 173) 47%, rgba(40, 69, 99, 1) 100%);
	text-shadow: 0.1em 0.1em black;
}
.button:hover {
	animation: btn_hover 0.6s;
	animation-fill-mode: forwards;
}
@keyframes btn_hover{
	0% {
		box-shadow: 0px 0px 0px 0px cornsilk;
	}
	100% {
		box-shadow: 0px 0px 30px 0px cornsilk;
	}
}
.switchOn {
	background-image: linear-gradient(320deg, rgb(45, 209, 94) 0%, rgb(57, 134, 96) 47%, rgba(45, 209, 94, 1) 100%);
	opacity: 1;
}
.switchOff {
	background-image: linear-gradient(320deg, rgb(209, 45, 45) 0%, rgb(109, 11, 11) 47%, rgba(209, 45, 45, 1) 100%);
	opacity: 0.5;
}
.footP {
	text-align:center;
	padding:0;
	margin-top:0;
}
.categoryP {
	font-size:1em;
	font-family: Verdana;
	font-variant: small-caps;
	text-align: left;
}
.form {
	width: 50%;
	color:ghostwhite;
	padding:1em;
	text-align: center;
	font-size:0.8em;
	font-family: Verdana;
	font-variant: small-caps;
	background-image: linear-gradient(320deg, rgb(21, 100, 110) 0%, rgb(11, 50, 109) 47%, rgba(21, 100, 110, 1) 100%);
}
#container {
	width:100%;
	text-align:center;
	margin: 0 auto;
	margin-bottom: 3em;
}
#tableCont {
	border: 0.1em solid cornflowerblue;
	min-width:70%;
	margin: 0 auto;
	margin-top:3em;
	background-color: rgba(100, 149,237,0.3);
	opacity:0;
}
#tableCont td {
	padding:0.2em;
	width:50%;
}
#tableCont p {
	padding:0.3em;
	font-size:1.1em;
}
#creditsDiv {
	text-align:center; 
	font-size:0.8em;
	position: relative;
	bottom:2em;
	left: 50%;
	transform: translateX(-50%);
}
#biomeBG {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;
}
#eraBG {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 50%;
}
#financialBG {
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 50%;
}
#settingTable {
	margin: 0 auto;
	margin-top:3em;
	margin-bottom:2em;
}
#settingTable p {
	font-size:1em;
	font-family: Verdana;
	font-variant: small-caps;
}

@media only screen and (max-width: 500px) {
	#tableCont {
		height:10em;
		margin-top:1.5em;
		min-width:100%;
	}
	#container {
		width:100%;
	}
	#biomeBG {
		background-size: auto 70%;
	}
	p {
		text-align: center;
	}
}
